#resume-container {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    justify-content: space-between;
}

#resume {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 900px;
    gap: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
}

#resume-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.resume-info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-heading {
    background-color: black;
    color: white;
    padding: 3px;
}
