#resume-container {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    justify-content: space-between;
}

#resume {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 900px;
    overflow-x: visible;
    gap: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
}

#resume-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.resume-info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-heading {
    background-color: black;
    color: white;
    padding: 3px;
}

.form-container {
    position: relative;
}

.edit-form {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 250px;
    height: 250px;
    /* color: white; */
    /* background-color: burlywood; */
    padding: 8px;
    gap: 5px;
    border-radius: 10px;
}

.edit-form-element {
    display: flex;
    flex-direction: column;
}

.edit-form-element > input {
    /* border-radius: 5px; */
    padding-left: 5px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
}

.edit-form-element > textarea {
    /* border-radius: 5px; */
    padding-left: 5px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
}

.edit-form-label {
    font-size: 0.8rem;
}

.edit-form-button {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    align-self: flex-end;
    background-color: transparent;
    border-style: solid;
}